<ion-tabs class="tabs-top tabs-icon-top tabs-striped tabs-background-assertive tabs-color-stable">
   <!-- Live Feed Tab -->
   <ion-tab  title="Live Feed" icon-off="livefeed-off" icon-on="livefeed-on" href="#/tab/livefeed" class="button-raised ink-dark">
      <ion-nav-view name="tab-livefeed"></ion-nav-view>
   </ion-tab>

   <!-- Rayzit Map Tab -->
   <ion-tab title="Nearby" icon-off="radar-off" icon-on="radar-on" href="#/tab/nearby"  class="button-raised ink-dark">
      <ion-nav-view name="tab-nearby"></ion-nav-view>
   </ion-tab>

   <!-- Starred Tab -->
   <ion-tab title="Starred" icon-off="star-off" icon-on="star-on" href="#/tab/starred"  class="button-raised ink-dark">
      <ion-nav-view name="tab-starred"></ion-nav-view>
   </ion-tab>

</ion-tabs>

